@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
.cookie-regular {
  font-family: "Cookie";
  font-weight: 150;
  font-style: normal;
}
.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 200;
  font-style: normal;
}
:root{
    --color1:#262401;
    --color2:#465902;
    --color3:#6E8C03;
    --color4:#A9BF04;
    --color5:#ABD904;
    --color6:black;
    --color7:white;
}

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-family:"Neuton" ;
}
p {
    font-family: "Cookie";
    font-size: 1.5em;
    text-align: justify;
}

body, html{
   background: url(../assets/image/paisagem\ 2.jpg) center center no-repeat fixed;
   background-size: cover;
   width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position:absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: var(--color7);
    width: 350px;
    height: 509px;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.500);
    transform: translate(-50%,-50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
section#login div#imagem{
    display: block;
    background: var(--color3) url(../assets/image/cat.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 200px;
}
section#login div#formulario{
    display: block;
    padding: 10px;
    
}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario p{
    font-size: 1.56em;
}
form .campo{
    background-color: var(--color3);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}
.campo > label {
    display: none;
}
.campo > i > span {
    color: white;
    
    font-size: 2em ;
    width: 40px;
    padding: 5px;
}
.campo > input {
    background-color:var(--color5) ;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}
.campo > input:focus-within{
    background-color: var(--color7);
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--color3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color:var(--color4) ;
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: var(--color7);
    border: 1px solid var(--color1);
    border-radius: 7px;
    text-decoration: none;
}

form a.botao:hover {
    background-color: var(--color5);
}
form > a.botao > i > span{
    font-size: 0.9em;
}